# 모든 파일 제외
/*
!.gitignore

# src 디렉터리 제외
!/src/
!/src/**
!/resources/
!/resources/**
!/webapp/
!/webapp/**

# docs 디렉터리 제외
!/docs/
!/docs/**

# DB 연결 정보 파일 예외
/resources/driver.properties

# 기타 파일 예외
/webapp/META-INF/
/webapp/WEB-INF/classes/