<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 
		프로젝트의 resources 폴더 내에 있는 environment.properties를 참조한다.
	-->
    <properties resource="environment.properties" />
    
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<!-- 별칭 목록 -->
		<typeAlias alias="Product" type="kr.co.khedu.product.model.vo.Product" />
		<typeAlias alias="Member" type="kr.co.khedu.member.model.vo.Member" />
		<typeAlias alias="Post" type="kr.co.khedu.post.model.vo.Post" />
	</typeAliases>

	<environments default="develop">
		<environment id="develop">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	 <mappers>
		<!-- mapper 목록 -->
		<mapper resource="/mappers/product-mapper.xml" />
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/post-mapper.xml"/>
	 </mappers>
</configuration>