<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 
		프로젝트의 resources 폴더 내에 있는 environment.properties를 참조한다.
	-->
    <properties resource="driver.properties" />
    
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<!-- 별칭 목록 -->
	</typeAliases>

	<environments default="develop">
		<environment id="develop">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	 <mappers>
		<!-- mapper 목록 -->
	 </mappers>
</configuration>