<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productMapper">

	<!-- 
		PRODUCT_ID, NAME, PRICE, STOCK, DESCRIPTION, CREATED_AT, MEMBER_ID, COUNTRY_ID
	 -->

	<!-- 상품 목록 조회 -->
	<resultMap type="Product" id="productListResultMap">
		<result column="PRODUCT_ID" property="productId" />
		<result column="NAME" property="name" />
		<result column="PRICE" property="price" />
	</resultMap>
	<select id="selectProductList" resultMap="productListResultMap" parameterType="Product">
		SELECT PRODUCT_ID, NAME, PRICE
		FROM TB_PRODUCT
		ORDER BY CREATED_AT DESC
	</select>
	
	<!-- 상품아이디로 상품 조회 -->
	<resultMap type="Product" id="productByProductId">
		<result column="PRODUCT_ID" property="productId" />
		<result column="NAME" property="name" />
		<result column="PRICE" property="price" />
		<result column="STOCK" property="stock" />
		<result column="DESCRIPTION" property="description" />
		<result column="CREATED_AT" property="createdAt" />
		<result column="MEMBER_ID" property="memberId" />
		<result column="COUNTRY_ID" property="countryId" />
	</resultMap>
	<select id="selectProductByProductId" resultMap="productByProductId" parameterType="Product">
		SELECT *
		FROM TB_PRODUCT
		WHERE PRODUCT_ID = #{productId}
	</select>
</mapper>