<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="voteMapper">
    <resultMap type="kr.co.khedu.vote.model.dto.VoteDTO" id="votes">
        <result column="TRAVEL_DESTINATION" property="travelDestination"/>
        <result column="COUNT" property="count"/>
    </resultMap>
    <select id="getVotes" resultMap="votes">
        SELECT
            TRAVEL_DESTINATION,
            COUNT(*) AS COUNT
        FROM
            TB_VOTE
        GROUP BY
            TRAVEL_DESTINATION
    </select>

	<select id="selectVote" resultType="TravelVote">
		SELECT VOTE_NO "voteNo"
		      , TRAVEL_DESTINATION "travelDestination"
		      , USER_ID "userId"
		      , VOTING_DATE "votingDate"
		FROM TB_VOTE
		WHERE USER_ID = #{userId}
	</select>

	<insert id="insertVote">
		INSERT INTO TB_VOTE VALUES (
		SEQ_VOTE_NO.NEXTVAL, #{tDestination}, #{userId},
		SYSDATE
		)
	</insert>

	<update id="updateVote">
		UPDATE TB_VOTE
			SET TRAVEL_DESTINATION = #{tDestination}
		WHERE USER_ID = #{userId}
	</update>
</mapper>